.generatorWrapper {
  white-space: nowrap;
}

.generatorWrapper > * {
  display: inline-block;
}

.upgradeWrapper > * {
  display: inline-block;
  width: 250px;
}

.upgradeButtonDescUpper {
  text-align: center;
}

.upgradeButtonDescLower {
  text-align: center;
}

.upgradeButton {
  display: block;
  margin: 0 auto;
}
