.generatorWrapper {
  white-space: nowrap;
  width: 500px;
}

.generatorWrapper > * {
  display: inline-block;
}

.generatorName {
  width: 30%;
}

.generatorButton {
  width: 22.5%;
}

.upgradeWrapper > * {
  display: inline-block;
  width: 250px;
}

.upgradeButtonDescUpper {
  text-align: center;
}

.upgradeButtonDescLower {
  text-align: center;
}

.upgradeButton {
  display: block;
  margin: 0 auto;
}
