.grid-container {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(9, 1fr);
  width: 1116px;
}

.grid-container-spacer {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(9, 1fr);
  width: 1116px;
}

.grid-item-upgrade {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 10px;
  text-align: center;
  margin: 2px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 20px;
  margin: 2px;
}
